<!DOCTYPE html>
<html>
	<head>
		<title>Survey Form</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<script src="/socket.io/socket.io.js"></script>
    	<script>
	        $(document).ready(function() {
	            var socket = io.connect();

				$('form').submit(function(event) {
					event.preventDefault();

					var inputs = $('form :input');
	    			var values = {};

				    inputs.each(function() {
				    	if (this.name != "") {
				        	values[this.name] = $(this).val();
				        }
				    });

					socket.emit('posting_form', {response: values});
				});

				socket.on('random_number', function(data) {
				    $('#display').html("<p>" + data.response + "</p>");
				});

				socket.on('updated_message', function(data) {
					$('#display').html("<p>" + data.response + "</p>" + $('#display').html());
				});
	        });
        </script>
	</head>
	<body>
		<div class="container-fluid">
			<div id="display"></div>
			<form role='form'>
				<div class="form-group">
					<label for="name">Your Name:</label>
				    <input type="text" class="form-control" name="name" id="name">
				</div>

				<div class="form-group">
				    <label for="location">Dojo Location:</label>
				    <select name="location" id="location">
				    	<option value="San Jose">San Jose</option>
				    </select>
				</div>

				<div class="form-group">
				    <label for="language">Favorite Language:</label>
				    <select name="language" id="language">
						<option value="Python">Python</option>
				    </select>
				</div>

				<div class="form-group">
					<label for="comment">Comment (optional):</label>
					<textarea name="comment" id="comment"></textarea>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</body>
</html>