<!DOCTYPE html>
<html>
	<head>
		<title>View: <%= lion.name %></title>
		<style>
			button {
				display: block;
				margin-bottom: 5px;
				border: none;
				background-color: lightgray;
				font-weight: bold;
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<h3>View Lion <%= lion.name %></h3>
		<p>Age: <%= lion.age %></p>
		<button onclick="location.href = '/'">Return to Home</button>
	</body>
</html>